.modify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

.modify h1 {
    color: #00569D;
}

.item {
    width: 220px;
    height: 340px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #00569D;
    border-radius: 8px;
    flex: none;
}

.item .item_img {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.item .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info .book_name {
    text-align: center;
    font-size: 20px;
    color: #00569D;
}

.btn_modify_area {
    display: flex;
    justify-content: space-around;
}

.btn_modify {
    width: 100px;
}

.admin_create_modify_link {
    width: 100%;
    font-size: 18px;
    color: rgb(0, 69, 125);
    padding: 0px 20px 20px;
    margin: 20px;
    border-bottom: 1px solid rgb(0, 69, 125);
    transition: 0.4s;
}

.admin_create_modify_link:hover {
    color: rgb(0, 119, 216);
}