.navbar {
    position: sticky;
    top: 80px;
    background-color: #00569D;
    width: 100%;
    max-height: none;
    margin-bottom: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.364);
    border-bottom: 1px solid rgba(0, 0, 0, 0.364);
}

.burguer {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.843);
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    transition: 0.4s;
}

.icon:hover {
    color: white;
}

.link_container {
    border-bottom: 2px solid #00569D;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
}

.nav-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.843);
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.opend {
    display: block;
}

.closed {
    display: none;
}