.navbar {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.614);
    width: 100%;
    max-height: none;
    border-top: 1px solid rgba(0, 0, 0, 0.364);
    border-bottom: 1px solid rgba(0, 0, 0, 0.364);
}

.burguer {
    display: flex;
    justify-content: center;
    color: rgba(220, 220, 220, 0.786);
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    transition: 0.4s;
}

.icon:hover {
    color: white;
}

.link-container {
    border-top: 1px solid rgba(0, 0, 0, 0.364);
    border-bottom: 1px solid rgba(0, 0, 0, 0.364);
    width: 100vw;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.nav-link {
    font-size: 18px;
    color: rgba(220, 220, 220, 0.786);
    padding: 20px;
    text-decoration: none;
    transition: 0.4s;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.opend {
    display: block;
}

.closed {
    display: none;
}