.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin h1 {
    text-align: center;
    font-size: 40px;
    color: #00569D;
    margin: 20px;
}

.admin .admin_link {
    margin: 20px;
}